.gz-tag-gold-dark[class*="-tag"][class*="-tag-outlined"]:not(
    [class*="-tag-disabled"]
  ) {
  border-width: 1px;

  &[class*="-tag-blue"] {
    color: #3873ff;
    border-color: #192a53;
    background: #121728;
  }

  &[class*="-tag-green"] {
    color: #30c46b;
    border-color: #237804;
    background: #092b00;
  }

  &[class*="-tag-orange"] {
    color: #ff9f1c;
    border-color: #593815;
    background: #2b1d11;
  }

  &[class*="-tag-red"] {
    color: #ff4d4f;
    border-color: #58181c;
    background: #2a1215;
  }

  &[class*="-tag-default"] {
    color: #8a93a6;
    border-color: #333333;
    background: #19191c;
  }

  &[class*="-tag-purple"] {
    color: #8b5cf6;
    border-color: #301c4d;
    background: #1a1325;
  }

  [class*="-tag-close-icon"] {
    color: rgba(255, 255, 255, 0.45);
  }
}
