.gz-button-gold-dark-gradient[class*="-btn-color-primary"][class*="-btn-variant-solid"]:not( :disabled):not([class*="-btn-disabled"]):not([class*="-btn-dangerous"]) {
  color: var(--gz-button-primary-gradient-text);
  border-color: transparent;
  background: linear-gradient(180deg,
      var(--gz-button-primary-gradient-end) 0%,
      var(--gz-button-primary-gradient-start) 100%);
  border: none;

  &:hover {
    color: var(--gz-button-primary-gradient-text-hover);
    border-color: transparent;
    background: linear-gradient(180deg,
        var(--gz-button-primary-gradient-end-hover) 0%,
        var(--gz-button-primary-gradient-start-hover) 100%);
  }

  &:active {
    color: var(--gz-button-primary-gradient-text-active);
    border-color: transparent;
    background: linear-gradient(180deg,
        var(--gz-button-primary-gradient-end-active) 0%,
        var(--gz-button-primary-gradient-start-active) 100%);
  }
}

// default disabled border color
.gz-button-default-border-color {
  &[class*="-btn-variant-outlined"][class*="-btn-default"][class*="-btn-color-default"]:disabled {
    border-color: transparent;
  }
}

.gz-button[class*="-btn-variant-solid"] {
  border: 1px solid transparent;
}

.gz-button[class*="-btn-default"][class*="-btn-color-default"][class*="-btn-variant-solid"] {
  background-color: var(--gz-components-button-default-bg);
  color: var(--gz-color-text-base);

  &:hover{
    background-color: var(--gz-components-button-default-hover-bg);
  }

  &:active{
    background-color: var(--gz-components-button-default-active-bg);
  }

  //disabled
  &:disabled{
    background-color: var(--gz-color-bg-container-disabled);
    color: var(--gz-color-text-disabled);
  }
}
