:root {
  .dumi-default-previewer-demo h1,
  .dumi-default-previewer-demo h2,
  .dumi-default-previewer-demo h3,
  .dumi-default-previewer-demo h4,
  .dumi-default-previewer-demo h5,
  .dumi-default-previewer-demo h6 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }

  .dumi-default-previewer-demo p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// ------------------------------------------------------------------------------------------
// btn
// ------------------------------------------------------------------------------------------
